<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view1">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="circle"  >Login</div>
      <div class="container">
        <input type="DNI" class="focus text-field" placeholder="DNI" autocomplete="off" value="{{dni::input}}" /><br><br>
        <input type="password" placeholder="Password" autocomplete="off" value="{{password::input}}"/>
        <label for="labelResultadoLogin">[[mensaje]]</label><br><br>
        <button on-click="checkLogin" class="col-lg-4 col-xs-12 btn btn-success">Login</button>
      </div>
    </div>
  </template>

  <script>

  class MyView1 extends Polymer.Element {
    static get is() { return 'my-view1'; }
    static get properties() {
      return {
        dni: {
          type: String,
          value: ''
        },
        password: {
          type: String,
          value: ''
        },
        idusuario: {
          type: String,
          value: ''
        },
        mensaje: {
          type: String,
          value: ''
        }
      };
    }
    checkLogin()
    {
      var datos = {"dni":this.dni,"password":this.password};
      var request = new XMLHttpRequest();
      //request.open("POST", "http://servidorback:3000/login", false);
      request.open("POST", "http://localhost:3000/login", false);
      request.setRequestHeader("Content-Type", "application/json");
      request.send(JSON.stringify(datos));

      console.log(request.responseText);

      var respuestaLogin = JSON.parse(request.responseText);

      console.log(respuestaLogin.idusuario);
      console.log(respuestaLogin.nombre);

      this.idusuario = respuestaLogin.idusuario;

      if(this.idusuario==-1) {

          this.mensaje = "Login Incorrecto :-{"
      }
      else {
          this.mensaje = "Bienvenido " + respuestaLogin.nombre;
          sessionStorage.setItem("idusuario", this.idusuario);
      }
      console.log(JSON.stringify(datos));
    }
  }

    window.customElements.define(MyView1.is, MyView1);
  </script>
</dom-module>
