<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view2">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="circle">Registro</div>
      <div class="container">

        <input type="Nombre" class="focus text-field" placeholder="Nombre" autocomplete="off" value="{{nombre::input}}"><br><br>
        <input type="Apellidos" placeholder="Apellidos" autocomplete="off" value="{{apellidos::input}}"><br><br>
        <input type="Dirección" placeholder="Dirección" autocomplete="off" value="{{direccion::input}}"><br><br>
        <input type="Provincia" placeholder="Provincia" autocomplete="off" value="{{provincia::input}}"><br><br>
        <input type="CP" placeholder="CP" autocomplete="off" value="{{codPostal::input}}"><br><br>
        <input type="email" placeholder="email" autocomplete="off" value="{{email::input}}"><br><br>
        <input type="DNI" placeholder="DNI" autocomplete="off" value="{{DNI::input}}"><br><br>
        <input type="password" placeholder="Password" autocomplete="off" value="{{password::input}}"><br><br>

        <button on-click="checkLogin" class="col-lg-4 col-xs-12 btn btn-success">Registrarse</button>
      </div>
    </div>
  </template>

  <script>

  class MyView2 extends Polymer.Element {
    static get is() { return 'my-view2'; }
    static get properties() {
      return {
        nombre: {
          type: String,
          value: ''
        },
        apellidos: {
          type: String,
          value: ''
        },
        direccion: {
          type: String,
          value: ''
        },
        provincia: {
          type: String,
          value: ''
        },
        codPostal: {
          type: Number,
          value: ''
        },
        email: {
          type: String,
          value: ''
        },
        DNI: {
          type: String,
          value: ''
        },
        password: {
          type: String,
          value: ''
        }
      };
    }
    checkLogin()
    {
      //if (this.email == "micorreo@postal.es")
      //    {
      //      this.mensaje = "Login correcto"
      //    }
      //    else
      //    {
      //      this.mensaje = "Login incorrecto"
      //    }
      var datos = {"email":this.email,"password":this.password};
      var request = new XMLHttpRequest();
      //request.open("POST", "http://servidorback:3000/login", false);
      request.open("POST", "http://localhost:3000/login", false);
      request.setRequestHeader("Content-Type", "application/json");
      request.send(JSON.stringify(datos));
      console.log(request.responseText);

      // if (request.responseText == "Cliente valido") {
      //     this.ocultar = true;
      // }
      if (request.responseText == "Cliente valido") {
          this.mensaje = "Login Correcto"
      }
      else {
          this.mensaje = "Login Incorrecto"
      }
    }
  }

    window.customElements.define(MyView2.is, MyView2);
  </script>
</dom-module>
