<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html" />
<link rel="import" href="shared-styles.html">

<dom-module id="my-view3">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="circle">2</div>
      <h1>Posicion Global</h1><br>
      <h2>Cuentas Vista</h2><br>
      <table hidden$="{{noCargados}}">
        <thead>
          <th>ID Cuenta</th>
          <th>Saldo</th>
          <th>Divisa</th>
          <th>Detalle</th>
        </thead>
        <tbody>
          <table hidden$="{{noCargados}}">
            <tbody>
              <template is="dom-repeat" items="{{cuentas}}">
                <tr>
                  <td>
                    [[item.idcuenta]]
                  </td>
                  <td>
                    [[item.saldo]]
                  </td>
                  <td>
                    [[item.divisa]]
                  </td>
                  <td>
                    [[item.descripcion]]
                  </td>
                </tr>
              </template>
            </tbody>
          <!--/table>          <tr>
            <td>00001</td>
            <td>25.356,98</td>
            <td>EUR</td>
            <td></td>
          </tr>
          <tr>
            <td>00002</td>
            <td>100.436,00</td>
            <td>EUR</td>
            <td></td>
          </tr>
          <tr>
            <td>00003</td>
            <td>86.130,53</td>
            <td>EUR</td>
            <td></td>
          </tr>
          <tr>
            <td>00004</td>
            <td>742,27</td>
            <td>EUR</td>
            <td></td>
          </tr>
          <tr>
            <td>00005</td>
            <td>1.200,66</td>
            <td>EUR</td>
            <td></td>
          </tr>
        </tbody-->
      </table>
    </div>
    <br>

  </template>

  <script>
    class MyView3 extends Polymer.Element {
      static get is() { return 'my-view3'; }
      static get properties() {
        return {
          identificadorCliente: {
            type: Number,
            value: 10000
          },
          identificadorCuenta: {
            type: Number,
            value: 2
          },
          descripcionCuenta: {
            type: String,
            value: 'Cuenta Nueva'
          },
          msgString: {
            type: String,
            value: ''
          },
          cuentas: {
            type: Array,
            notify: true
          },
          noCargados: {
            type: Boolean,
            value: true
          }
        };
      }
      ready(){
        super.ready();
        this.obtenerCuentasMlab();
      }

      obtenerCuentasMlab() {
        var request = new XMLHttpRequest();
        //request.open("GET", "http://servidorback/cuentas", false);
        request.open("GET", "http://localhost:3000/cuentas", false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.cuentas = JSON.parse(request.responseText);
        console.log(this.cuentas);
        this.noCargados = false;
      }
    }

    window.customElements.define(MyView3.is, MyView3);
  </script>
</dom-module>
