<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<script src="../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="../bower_components/iron-image/iron-image.html">
<link rel="import" href="../bower_components/skeleton-carousel/skeleton-carousel.html">

<dom-module id="my-view404">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 0px;
      }
      iron-image {
        display: block;
        background-color: black;
        min-height: 480px;
      }

      skeleton-carousel {
        min-height: 480;
      }
    </style>

    <div class="card">
      <h1>
        <skeleton-carousel dots nav loop>
          <iron-image placeholder=" https://s3.amazonaws.com/usr17-aws/gt_cuentas_de_ahorro_crd.jpg"
                      data-src=" https://s3.amazonaws.com/usr17-aws/gt_cuentas_de_ahorro_crd.jpg"
                      sizing="cover"
                      preload
                      fade
                      ></iron-image>
          <iron-image placeholder="https://s3.amazonaws.com/usr17-aws/mejores-cuentas-ahorro-2017.png"
                      data-src="https://s3.amazonaws.com/usr17-aws/mejores-cuentas-ahorro-2017.png"
                      sizing="cover"
                      preload
                      fade
                      ></iron-image>
        <iron-image placeholder="https://s3.amazonaws.com/usr17-aws/images.jpeg"
                      data-src="https://s3.amazonaws.com/usr17-aws/images.jpeg"
                      sizing="cover"
                      preload
                      fade
                      ></iron-image>
          <iron-image placeholder="https://source.unsplash.com/category/buildings/10x10"
                      data-src="https://source.unsplash.com/category/buildings/500x300"
                      sizing="cover"
                      preload
                      fade
                      ></iron-image>
        </skeleton-carousel>
      </h1>
    </div>
  </template>

  <script>
    class MyView404 extends Polymer.Element {
      static get is() { return 'my-view404'; }
    }

    window.customElements.define(MyView404.is, MyView404);
  </script>
</dom-module>
